body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vw;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

.chat-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  background-color: #08090a;
  color: white;
}

.bot-message {
  align-self: flex-start;
  background-color: #eaeaea;
  color: #333;
}

.typing-indicator {
  font-size: 1.5rem;
  font-weight: bold;
  color: #888;
  display: inline-block;
}

.input-container {
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
}
